body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F7FF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
nav div button {
    background-color: #4D47FE;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.logo {
    color: #4D47FE;
    text-decoration: none;
    font-size: 30px;
}
div button a {
    color: #ffffff;
    text-decoration: none;
}
.hero-content button{
    background-color: #4D47FE;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.hero-content button a{
    color: #ffffff;
    text-decoration: none;
    /* padding: 18px 10px; */
}
.hero-content h1{
    text-decoration: none;
    text-align: center;
}

.hero{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 100vh;   /* Full screen height */
    background-image: url("../assets/hero-bg.png");
    background-size: cover;       /* Fill the section */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */

}
.hero-content {
    text-align: center;
}
.see-action {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    gap: 50px;
}
.action-content {
    text-align: left;
}
.action-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.action-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.action-content button {
    background-color: #4D47FE;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.action-image {
    text-align: center;
    width: 30%;
    height: auto;
}
.action-content p {
    font-size: 18px;
    margin-top: 20px;
    color: #8f8b8b;
    font-size: 24px;
}
.hero-content h1 {
    font-size: 62px;
    margin-bottom: 20px;
}