nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
nav div button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
